.container {
    width: 80%;
    height: 700px;
    margin: 0 auto;
    border: 2px solid red;
    display: flex;
    /*flex-direction: column;*/
    /*justify-content: flex-start;
    align-items: flex-start;*/
    flex-wrap: wrap;
    gap: 20px;
}

.item {
    width: 150px; 
    height: 150px;
    background-color: blue;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid blue;
}
.item-1 {
    /*flex-grow: 1; */
    /*flex-shrink: 2;*/
    flex-basis: 300px;
    flex: 1;
    order: unset;  
}