.container {
    height: 100px;
    width: 200px;
    border: 2px solid red;
    transition: width 3s;
}

.top-container {
    height: 100px;
    width: 200px;
    border: 2px solid green;
    transform: rotate(20deg)
}

.first {
    height: 100px;
    width: 200px;
    border: 2px solid red;
    transform: scale(1,1.5)
}

.second {
    height: 100px;
    width: 200px;
    border: 2px solid red;
    transform: skewx(20deg,)
}

.third {
    height: 100px;
    width: 200px;
    border: 2px solid red;
    transform: matrix(1,-0.3,0,1,0,0)
}

div:hover {
    width: 400px;
}

